---
Checks: >
 -*,
 clang-analyzer-*,
 llvm-*,
 bugprone-*,
 performance-*,
 readability-*,
 modernize-use-override,
 modernize-use-nullptr,
 -llvm-header-guard,
 -llvm-namespace-comment,
 -bugprone-easily-swappable-parameters,
 -bugprone-signed-char-misuse,
 -misc-non-private-member-variables-in-classes,
 -performance-noexcept-move-constructor,
 -readability-convert-member-functions-to-static,
 -readability-qualified-auto,
 -readability-redundant-access-specifiers,
 -readability-redundant-member-init,
 -readability-identifier-length,
 -readability-use-anyofallof,
 -readability-function-cognitive-complexity,
 -performance-avoid-endl,
WarningsAsErrors: '*'
